@import "../theme/sass/theme.scss";

.drawer--header {
  @include gridbase(1);
  padding: getUnits(2) getUnits(1.5) getUnits(1.5);
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: auto 1fr;
  text-align: left;

  min-height: 104px;
  justify-items: center;
}

.drawer--navmenu {
  width: 250px;

  @include gridbase(0.5);
  grid-auto-flow: row;
  justify-content: stretch;
  a {
    text-align: left;
  }
}
