@import "theme/sass/theme.scss";
@import "theme/sass/base";

/*.App {
  text-align: center;
}*/

/*.App-logo {
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

/*.App-header {
  background-color: $black;
  color: $white;
  height: 150px;
  padding: 20px;

  ul {
    li {
      display: inline-block;
      padding: 12px;

      a {
        color: $white;
      }
    }
  }
}*/

/*.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}*/

/*.App {
  header > div {
    @include gridbase(1);
    //grid-template-rows: repeat(2, auto);
    //grid-template-columns: auto;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
  }

  header {
    .banner, .button-bar {
      @include gridbase(1);
    }

    .banner {
      grid-row: 1;
      grid-column: 1/2;
      grid-auto-flow: row;
    }
    .button-bar {
      grid-row: 2;
      grid-column: 1/2;
      grid-auto-flow: column;
    }
  }
}*/

.App {
  @include gridbase(0);
  grid-template-rows: 64px 1fr;
  width: 100vw;
  height: 100vh;

  .header {
    grid-row: 1;
  }
  .switch-wrapper {
    grid-row: 2;
  }
  .switch-wrapper {
    position: relative;
    //padding: getUnits(1) getUnits(5);

    & > div {
      position: absolute;
      width: 100%;
    }
  }
}

